*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
}

.card{
    background-color: white;
    width: 180px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px gray;
}

.card img{
    width: 60%;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-left: 20%;
    margin-top: 5%;
}

.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 40%;
}

.card h1{
    font-size: 1.2rem;
}

.card h2{
    font-size: 0.9rem;
    color: #5c5c5ceb;
}

.card button{
    background-color: rgba(0, 0, 255, 0.401);
    height: 30px;
    border: none;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}

